@import '@styles/_variables.less';

.container {
	display: flex;
	flex-direction: row;
	width: calc(100% - 272px);
	height: 100%;
	overflow-y: auto;
}

.listOfBudgets {
	width: 450px;
	border-right: 1px solid @p-grey-color;
}
