@import './fonts.less';
@import './_variables.less';

p {
	font-family: 'Roboto';
	color: @p-black-color;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	margin: 0;
}

a, a:visited, a:active {
	text-decoration: none;
}
